img {
	display: inline-block;
	margin-right: 0 auto;
	margin-left: 0 auto;
	width: 1900px;
}

h1 {
    text-align: center;
    color: grey;
    font-size: 55px;
    font-style: bold;
    margin: 0 auto;
}

hr {
	height: 4px;
    color: grey;
    background: grey;
    font-size: 0;
    border: 0;
}

div section {
	float: left;
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 10px;
    padding-right: 16px;
    padding-left: 16px;
}

footer {
	font-size: 13px; 
	background: grey;
	color: white;
	width: 1900px;
	height: 16px;
	text-align: center;
	clear: both;
}